# Carpetes de compilació
bin/
obj/

# Fitxers del Visual Studio
.vs/
.vscode/
.idea/

# Fitxers temporals de Windows
Thumbs.db
ehthumbs.db

# Fitxers de dependències de NuGet
.nuget/

# Fitxers temporals i de configuració específics
*.user
*.suo
*.userosscache
*.sln.docstates

#Claus públiques i privades
*.pub
   id_rsa
   id_rsa.pub
   